.body_div {
    padding: 0px;
    margin: 0px;
    width: 100%;
}

.first_section {
    background-color: #FF9F00;
    height: auto;
}

.main_heading {
    color: #ffff;
    margin-top: 130px;
    font-family: Source Sans Pro;
    font-size: 80px;
}

.sub_div_firstsection {
    width: 90%;
    height: auto;
    background-color: #ffff;
    border-radius: 5px;
}

.btn_div {
    margin-left: 20px;
    display: flex;
    align-items: center;

}

.delivery_btn {
    color: #FF9F00;
    font-size: 20px;
    border: none;
    background-color: rgb(244, 223, 226);
    display: flex;
    align-items: center;
    margin-top: 15px;
    border-radius: 7px;
}

.icon {
    margin: 2px;
}

.pickup_btn {
    font-size: 20px;
    border: none;
    color: #757575;
    display: flex;
    align-items: center;
    margin-left: 15px;
    margin-top: 15px;
    border-radius: 7px;
}

.findfood_btn {
    color: #ffff;
    background-color: #FF7A7A;
    border: none;
    margin-left: 20px;
    width: auto;
    border-radius: 5px;
    height: 40px;
}

.first_img {
    height: 450px;
    width: 500px;
}

.input_address {

    height: 40px;
    border: none;
    width: 75%;
    border-radius: 5px;
    background-color: #F5F5F5;
    margin-left: 20px;
    margin-bottom: 15px;
    padding-left: 10px;

    /* image in input field */
    background-image: url(./images/input_location.svg);
    background-repeat: no-repeat;
    text-indent: 20px;
}

.card_one {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;
}

.c1i1 {
    
    height: 250px;
    width: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.c1btn {
    color: #F17228;
    background: #F1722833;
    padding: 4px 8px;
    border: none;
    border-radius: 7px;

}

.box2 {
    background: rgb(244, 223, 226);
    height: auto;
    width: 100%;
    margin-top: 50px;
}

.box2_heading {
    padding-top: 50px;
    color: #F17228;
    text-align: center;
}

.box_col {
    margin: 50px 0px;
    text-align: center;

}

.box2_icon {
    height: 112px;
    width: 80px;
}

#box2_icon {
    height: 112px;
    width: 80px;
}

.card2 {
    display: flex;
}

.card_two {
    height: auto;
}

.card2_heading {
    text-align: center;
    margin: 50px auto;
}



.card2_img {
    height: 200px;
    width: 100%;
    border-radius: 10px;

}

.card2_div {
    display: flex;
    align-items: center;
    color: #F17228;

}

.card2_btn {
    width: 100%;
    height: 40px;
    color: #ffff;
    border-radius: 7px;
    background-color: #F17228;
    border: none;
}

.card3_row {
    margin-bottom: 40px;
    display: flex;
    justify-content: space-between;
}

.card3_1 {
    background-image: url(./images/c3i1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    display: flex;


}

.card3_btn1 {
    border: none;
    color: #ffff;
    background-color: #F17228;
    border-radius: 5px;
    height: 30px;
    display: flex;
    align-items: center;


}

.card3_btn2 {

    border: none;
    color: #ffff;
    background-color: #FFB30E;
    border-radius: 5px;
    height: 30px;
    margin-left: 5px;
    display: flex;
    align-items: center;

}

.card3_disc {
    margin-top: 15px;
    display: flex;
    align-items: center;
}

.card3_logo {
    height: 50px;
    width: 50px;
    border-radius: 5px;
}

.star_icon {
    padding: 0px;
    margin: 0px;
    color: #FFB30E;
    font-size: 1em;

}

.icon_p {
    display: flex;
    align-items: center;
}

.card_heading {
    margin-left: 10px;

}

.card3_btn_disc {
    font-size: 16px;
}

.card3_btn_disc_p {
    padding: 0px;
    margin: 0px;
}

.card3_btn_disc_pink {
    margin-top: 10px;
    color: #F17228;
    background-color: #F1722833;
    border-radius: 5px;
    border: none;


}

.card3_btn_disc_green {
    margin-top: 10px;
    color: #79B93C;
    background-color: #79B93C33;
    border-radius: 5px;
    border: none;


}

.card3_2 {
    background-image: url(./images/c3i2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    display: flex;

}

.card3_3 {
    background-image: url(./images/c3i3.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    display: flex;

}

.card3_4 {
    background-image: url(./images/c3i4.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    display: flex;

}

.card3_5 {
    background-image: url(./images/c3i5.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    display: flex;

}

.card3_6 {
    background-image: url(./images/c3i6.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    display: flex;

}

.card3_7 {
    background-image: url(./images/c3i7.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    display: flex;

}

.card3_8 {
    background-image: url(./images/c3i8.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    border-radius: 10px;
    padding-left: 10px;
    padding-top: 10px;
    display: flex;

}

.view_btn {
    color: #ffff;
    background-color: #FFB30E;
    border-radius: 5px;
    border: none;
}

.view_btn_div {
    margin: 120px 0px 40px 0px;
    text-align: center;
}

.card4_row {
    display: flex;
    justify-content: space-between;
    text-align: center;
    margin-bottom: 50px;
}

.card4_img {
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;

}

.card4_div {
    height: 200px;
    width: 200px;

    text-align: center;
}

.card4_bgcolor {
    background: #FEFAF1;
    padding-top: 40px;

}


.arrow_btn {
    height: 50px;
    width: 50px;
    color: #ffff;
    background-color: #FF9F00;
    font-size: 35px;
    padding: auto;
    border-radius: 50%;
    border: none;
    margin: 0px 2px;
}

.card4_text {
    color: #FF9F00;
    font-size: 10px;
}

.card4_main {
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.card4_row1 {
    display: flex;
    align-items: center;
}

.card4row1 {
    margin-bottom: 60px;
}

.box_fluid {
    background-color: #FEEFD0;

}

.box_fluid_div {
    background-color: #ffff;
    width: 70%;
    height: auto;
    border-radius: 15px;
}

.card5_row {
    margin: 40px auto;
}

.c5_subdiv1 {
    width: 100%;
    height: 400px;
    padding: 60px 30px 30px 30px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-right: -23px;
}

.heading_color {
    color: #FF9F00;
}

.card5_btn1 {
    color: #ffff;
    background-color: #FF9F00;
    height: 50px;
    width: 95%;
    border: none;
    border-radius: 7px;
    margin-top: 90px;
}

.card5_img1 {
    height: 400px;
    width: 100%;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-left: -24px;
}

.c5_subdiv2 {
    width: 100%;
    height: 400px;
    padding: 60px 30px 30px 30px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-left: -24px;
}

.card5_img2 {
    height: 400px;
    width: 100%;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-right: -23px;
}

.card5_btn2 {
    color: #ffff;
    background-color: #FF9F00;
    height: 50px;
    width: 95%;
    border: none;
    border-radius: 7px;
    margin-top: 70px;
}

.bg_img {
    background-image: url(./images/bg_img.png);
    width: 100%;
    height: 300px;
    background-size: cover;


}

.heading {
    color: #ffff;
    padding-top: 60px;

}

.text_center {
    text-align: center;
}

.last_btn {
    background: linear-gradient(93.41deg, #F17228 -5.63%, #F15E28 100.8%);
    color: #ffff;
    border: none;
    height: 40px;
    width: 175px;
    border-radius: 7px;
    margin-top: 50px;
}

.last_row {
    display: flex;
    justify-content: space-between;
}

.footer_bg {
    background: #212121;
    height: auto;
    width: 100%;
}

.last_heading {
    padding-top: 80px;
    padding-bottom: 40px;
    color: #ffff;
    font-size: 20px;

}

.text_color {
    color: #ffff;
    padding: 0px;
    /* margin: 0px; */
    font-size: 12px;
}

.footer_hr {
    border: 2px;
    color: #424242;
}

.last_heading1 {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 20px;
}

.follow {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 20px;
    color: gray;
}

.icon_div {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100px;
}

.icon_img {
    font-size: 20px;
    color: gray;
}

.last_p {
    margin-top: 30px;
    margin-bottom: 30px;
    color: gray;
}

.last_input {
    height: 40px;
    border: none;
    width: 75%;
    border-radius: 5px;
    /* background-color: #F5F5F5; */
    padding-left: 10px;
    background-color: #424242;
    /* image in input field */
    background-image: url(./images/envelope.svg);
    background-repeat: no-repeat;
    text-indent: 20px;
}

.last_btn1 {
    color: #ffff;
    background: linear-gradient(92.84deg, #FFB800 -47.72%, #FF8A00 136.81%);
    border: none;
    height: 40px;
    border-radius: 5px;

}

.last_hr {
    height: 2px;
    color: #424242;
    margin-top: 50px;
}

.simple {
    background-color: #FEEFD0;
    width: 100%;
    height: auto;
}

.simple_heading {
    color: #FB3C00;


}

.hr_img {
    height: 70px;
}
.large_img{
    height: 500px;
    width: 100%;
}

.simple_row {
    margin-top: 70px;
    margin-bottom: 40px;
    background-color: #ffff;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer_line{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.last_div{
    text-align: end;
}